
body {
    background-color: #FFE4C9;
    
    }
    .container{
    background-color: #fff2e5;
    }
    
    .form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
    }
    
    .profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
    }
    
    .profile-button:hover {
    background: #682773
    }
    
    .profile-button:focus {
    background: #682773;
    box-shadow: none
    }
    
    .profile-button:active {
    background: #0a5e3b;
    box-shadow: none
    }
    
    .back:hover {
    color: #103584;
    cursor: pointer
    }
    
    .labels {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    }
    
    .add-experience:hover {
    background: #BA68C8;
    color: #c9c2cd6c;
    cursor: pointer;
    border: solid 1px #BA68C8
    }
    